<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
        PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version ="3.0">
    <display-name>Marqet Server</display-name>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <!-- API -->
    <!--**ELEMENT**-->
    <servlet>
        <servlet-name>GetElementAPI</servlet-name>
        <servlet-class>com.marqet.WebServer.api.GetElementAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetElementAPI</servlet-name>
        <url-pattern>/GetElementAPI</url-pattern>
    </servlet-mapping>
    <!--**USER**-->
    <servlet>
        <servlet-name>GetUserDetail</servlet-name>
        <servlet-class>com.marqet.WebServer.api.GetUserDetail</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetUserDetail</servlet-name>
        <url-pattern>/GetUserDetail</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddPointAPI</servlet-name>
        <servlet-class>com.marqet.WebServer.api.AddPointAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddPointAPI</servlet-name>
        <url-pattern>/AddPointAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetPointAPI</servlet-name>
        <servlet-class>com.marqet.WebServer.api.GetPointAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetPointAPI</servlet-name>
        <url-pattern>/GetPointAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ProcessBroadcastIdAPI</servlet-name>
        <servlet-class>com.marqet.WebServer.api.ProcessBroadcastIdAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProcessBroadcastIdAPI</servlet-name>
        <url-pattern>/ProcessBroadcastIdAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginViaEmailAPI</servlet-name>
        <servlet-class>com.marqet.WebServer.api.LoginViaEmailAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginViaEmailAPI</servlet-name>
        <url-pattern>/LoginViaEmailAPI</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RegisterViaEmailAPI</servlet-name>
        <servlet-class>com.marqet.WebServer.api.RegisterViaEmailAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterViaEmailAPI</servlet-name>
        <url-pattern>/RegisterViaEmailAPI</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RegisterViaSocialNetworkAPI</servlet-name>
        <servlet-class>com.marqet.WebServer.api.RegisterViaSocialNetworkAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterViaSocialNetworkAPI</servlet-name>
        <url-pattern>/RegisterViaSocialNetworkAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ChangeCountryAPI</servlet-name>
        <servlet-class>com.marqet.WebServer.api.ChangeCountryAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChangeCountryAPI</servlet-name>
        <url-pattern>/ChangeCountryAPI</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ChangePasswordAPI</servlet-name>
        <servlet-class>com.marqet.WebServer.api.ChangePasswordAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChangePasswordAPI</servlet-name>
        <url-pattern>/ChangePasswordAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ForgetPasswordAPI</servlet-name>
        <servlet-class>com.marqet.WebServer.api.ForgetPasswordAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ForgetPasswordAPI</servlet-name>
        <url-pattern>/ForgetPasswordAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FindFriendListAPI</servlet-name>
        <servlet-class>com.marqet.WebServer.api.FindFriendListAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FindFriendListAPI</servlet-name>
        <url-pattern>/FindFriendListAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>VerifyViaGoogleAPI</servlet-name>
        <servlet-class>com.marqet.WebServer.api.VerifyViaGoogleAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VerifyViaGoogleAPI</servlet-name>
        <url-pattern>/VerifyViaGoogleAPI</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>VerifyViaFacebookAPI</servlet-name>
        <servlet-class>com.marqet.WebServer.api.VerifyViaFacebookAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VerifyViaFacebookAPI</servlet-name>
        <url-pattern>/VerifyViaFacebookAPI</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditProfileAPI</servlet-name>
        <servlet-class>com.marqet.WebServer.api.EditProfileAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditProfileAPI</servlet-name>
        <url-pattern>/EditProfileAPI</url-pattern>
    </servlet-mapping>
    <!--**COUNTRY**-->
    <servlet>
        <servlet-name>GetListCountryAPI</servlet-name>
        <servlet-class>com.marqet.WebServer.api.GetListCountryAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetListCountryAPI</servlet-name>
        <url-pattern>/GetListCountryAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetListCountryAndCityAPI</servlet-name>
        <servlet-class>com.marqet.WebServer.api.GetListCountryAndCityAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetListCountryAndCityAPI</servlet-name>
        <url-pattern>/GetListCountryAndCityAPI</url-pattern>
    </servlet-mapping>
    <!--**CITY**-->
    <servlet>
        <servlet-name>GetListCityByCountryCodeAPI</servlet-name>
        <servlet-class>com.marqet.WebServer.api.GetListCityByCountryCodeAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetListCityByCountryCodeAPI</servlet-name>
        <url-pattern>/GetListCityByCountryCodeAPI</url-pattern>
    </servlet-mapping>
    <!--**STATE**-->
    <servlet>
        <servlet-name>GetListStateByCountryCodeAPI</servlet-name>
        <servlet-class>com.marqet.WebServer.api.GetListStateByCountryCodeAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetListStateByCountryCodeAPI</servlet-name>
        <url-pattern>/GetListStateByCountryCodeAPI</url-pattern>
    </servlet-mapping>
    <!--**CATEGORY**-->
    <servlet>
        <servlet-name>GetListCategoryAPI</servlet-name>
        <servlet-class>com.marqet.WebServer.api.GetListCategoryAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetListCategoryAPI</servlet-name>
        <url-pattern>/GetListCategoryAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetListCategoryAndSubCategoryAPI</servlet-name>
        <servlet-class>com.marqet.WebServer.api.GetListCategoryAndSubCategoryAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetListCategoryAndSubCategoryAPI</servlet-name>
        <url-pattern>/GetListCategoryAndSubCategoryAPI</url-pattern>
    </servlet-mapping>
    <!--**SUBCATEGORY**-->
    <servlet>
        <servlet-name>GetSubCategoryByCategoryIdAPI</servlet-name>
        <servlet-class>com.marqet.WebServer.api.GetSubCategoryByCategoryIdAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetSubCategoryByCategoryIdAPI</servlet-name>
        <url-pattern>/GetSubCategoryByCategoryIdAPI</url-pattern>
    </servlet-mapping>
    <!--**BIGBANNER**-->
    <servlet>
        <servlet-name>GetListBigBannerAPI</servlet-name>
        <servlet-class>com.marqet.WebServer.api.GetListBigBannerAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetListBigBannerAPI</servlet-name>
        <url-pattern>/GetListBigBannerAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetListWaitingBigBannerAPI</servlet-name>
        <servlet-class>com.marqet.WebServer.api.GetListWaitingBigBannerAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetListWaitingBigBannerAPI</servlet-name>
        <url-pattern>/GetListWaitingBigBannerAPI</url-pattern>
    </servlet-mapping>
    <!--**SMALLBANNER**-->
    <servlet>
        <servlet-name>GetListSmallBannerAPI</servlet-name>
        <servlet-class>com.marqet.WebServer.api.GetListSmallBannerAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetListSmallBannerAPI</servlet-name>
        <url-pattern>/GetListSmallBannerAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetListWaitingSmallBannerAPI</servlet-name>
        <servlet-class>com.marqet.WebServer.api.GetListWaitingSmallBannerAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetListWaitingSmallBannerAPI</servlet-name>
        <url-pattern>/GetListWaitingSmallBannerAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PutSmallBannerAPI</servlet-name>
        <servlet-class>com.marqet.WebServer.api.PutSmallBannerAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PutSmallBannerAPI</servlet-name>
        <url-pattern>/PutSmallBannerAPI</url-pattern>
    </servlet-mapping>
    <!--**INFORMATION**-->
    <servlet>
        <servlet-name>GetInformationAPI</servlet-name>
        <servlet-class>com.marqet.WebServer.api.GetInformationAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetInformationAPI</servlet-name>
        <url-pattern>/GetInformationAPI</url-pattern>
    </servlet-mapping>
    <!--**PRODUCT**-->
    <servlet>
        <servlet-name>GetListProductByCountryCodeAPI</servlet-name>
        <servlet-class>com.marqet.WebServer.api.GetListProductByCountryCodeAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetListProductByCountryCodeAPI</servlet-name>
        <url-pattern>/GetListProductByCountryCodeAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetList30ProductWatchedAPI</servlet-name>
        <servlet-class>com.marqet.WebServer.api.GetList30ProductWatchedAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetList30ProductWatchedAPI</servlet-name>
        <url-pattern>/GetList30ProductWatchedAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetListProductByCategoryAPI</servlet-name>
        <servlet-class>com.marqet.WebServer.api.GetListProductByCategoryAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetListProductByCategoryAPI</servlet-name>
        <url-pattern>/GetListProductByCategoryAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetProductDetailAPI</servlet-name>
        <servlet-class>com.marqet.WebServer.api.GetProductDetailAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetProductDetailAPI</servlet-name>
        <url-pattern>/GetProductDetailAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddProductAPI</servlet-name>
        <servlet-class>com.marqet.WebServer.api.AddProductAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddProductAPI</servlet-name>
        <url-pattern>/AddProductAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditProductAPI</servlet-name>
        <servlet-class>com.marqet.WebServer.api.EditProductAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditProductAPI</servlet-name>
        <url-pattern>/EditProductAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetListProductStuffLikedAPI</servlet-name>
        <servlet-class>com.marqet.WebServer.api.GetListProductStuffLikedAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetListProductStuffLikedAPI</servlet-name>
        <url-pattern>/GetListProductStuffLikedAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetListProductOfferBidAPI</servlet-name>
        <servlet-class>com.marqet.WebServer.api.GetListProductOfferBidAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetListProductOfferBidAPI</servlet-name>
        <url-pattern>/GetListProductOfferBidAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetListProductByEmailAPI</servlet-name>
        <servlet-class>com.marqet.WebServer.api.GetListProductByEmailAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetListProductByEmailAPI</servlet-name>
        <url-pattern>/GetListProductByEmailAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SearchProductAPI</servlet-name>
        <servlet-class>com.marqet.WebServer.api.SearchProductAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchProductAPI</servlet-name>
        <url-pattern>/SearchProductAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetListProductByFilterAPI</servlet-name>
        <servlet-class>com.marqet.WebServer.api.GetListProductByFilterAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetListProductByFilterAPI</servlet-name>
        <url-pattern>/GetListProductByFilterAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MarkProductAsSoldAPI</servlet-name>
        <servlet-class>com.marqet.WebServer.api.MarkProductAsSoldAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MarkProductAsSoldAPI</servlet-name>
        <url-pattern>/MarkProductAsSoldAPI</url-pattern>
    </servlet-mapping>
    <!--**COMMENT**-->
    <servlet>
        <servlet-name>CommentProductAPI</servlet-name>
        <servlet-class>com.marqet.WebServer.api.CommentProductAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CommentProductAPI</servlet-name>
        <url-pattern>/CommentProductAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetCommentByProductIdAPI</servlet-name>
        <servlet-class>com.marqet.WebServer.api.GetCommentByProductIdAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetCommentByProductIdAPI</servlet-name>
        <url-pattern>/GetCommentByProductIdAPI</url-pattern>
    </servlet-mapping>
    <!--**STUFFLIKED**-->
    <servlet>
        <servlet-name>LikeProductAPI</servlet-name>
        <servlet-class>com.marqet.WebServer.api.LikeProductAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LikeProductAPI</servlet-name>
        <url-pattern>/LikeProductAPI</url-pattern>
    </servlet-mapping>
    <!--**IMAGE**-->
    <servlet>
        <servlet-name>UploadImageAPI</servlet-name>
        <servlet-class>com.marqet.WebServer.api.UploadImageAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadImageAPI</servlet-name>
        <url-pattern>/UploadImageAPI</url-pattern>
    </servlet-mapping>
    <!--**FOLLOW**-->
    <servlet>
        <servlet-name>GetListFollowerAPI</servlet-name>
        <servlet-class>com.marqet.WebServer.api.GetListFollowerAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetListFollowerAPI</servlet-name>
        <url-pattern>/GetListFollowerAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FollowFriendAPI</servlet-name>
        <servlet-class>com.marqet.WebServer.api.FollowFriendAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FollowFriendAPI</servlet-name>
        <url-pattern>/FollowFriendAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UnfollowFriendAPI</servlet-name>
        <servlet-class>com.marqet.WebServer.api.UnfollowFriendAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UnfollowFriendAPI</servlet-name>
        <url-pattern>/UnfollowFriendAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetListFollowingAPI</servlet-name>
        <servlet-class>com.marqet.WebServer.api.GetListFollowingAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetListFollowingAPI</servlet-name>
        <url-pattern>/GetListFollowingAPI</url-pattern>
    </servlet-mapping>
    <!--**FEEDBACK**-->
    <servlet>
        <servlet-name>GetListFeedbackAllAPI</servlet-name>
        <servlet-class>com.marqet.WebServer.api.GetListFeedbackAllAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetListFeedbackAllAPI</servlet-name>
        <url-pattern>/GetListFeedbackAllAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetListFeedbackSellerAPI</servlet-name>
        <servlet-class>com.marqet.WebServer.api.GetListFeedbackSellerAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetListFeedbackSellerAPI</servlet-name>
        <url-pattern>/GetListFeedbackSellerAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetListFeedbackBuyerAPI</servlet-name>
        <servlet-class>com.marqet.WebServer.api.GetListFeedbackBuyerAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetListFeedbackBuyerAPI</servlet-name>
        <url-pattern>/GetListFeedbackBuyerAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FeedbackProductAPI</servlet-name>
        <servlet-class>com.marqet.WebServer.api.FeedbackProductAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FeedbackProductAPI</servlet-name>
        <url-pattern>/FeedbackProductAPI</url-pattern>
    </servlet-mapping>
    <!--**WATCHLIST**-->
    <servlet>
        <servlet-name>AddWatchListAPI</servlet-name>
        <servlet-class>com.marqet.WebServer.api.AddWatchListAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddWatchListAPI</servlet-name>
        <url-pattern>/AddWatchListAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetWatchListAPI</servlet-name>
        <servlet-class>com.marqet.WebServer.api.GetWatchListAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetWatchListAPI</servlet-name>
        <url-pattern>/GetWatchListAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteWatchListAPI</servlet-name>
        <servlet-class>com.marqet.WebServer.api.DeleteWatchListAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteWatchListAPI</servlet-name>
        <url-pattern>/DeleteWatchListAPI</url-pattern>
    </servlet-mapping>
    <!--**MESSAGE**-->
    <servlet>
        <servlet-name>GetListMessageAllAPI</servlet-name>
        <servlet-class>com.marqet.WebServer.api.GetListMessageAllAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetListMessageAllAPI</servlet-name>
        <url-pattern>/GetListMessageAllAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetListMessageArchivedAPI</servlet-name>
        <servlet-class>com.marqet.WebServer.api.GetListMessageArchivedAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetListMessageArchivedAPI</servlet-name>
        <url-pattern>/GetListMessageArchivedAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ArchivedMessageAPI</servlet-name>
        <servlet-class>com.marqet.WebServer.api.ArchivedMessageAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ArchivedMessageAPI</servlet-name>
        <url-pattern>/ArchivedMessageAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetListMessageBuyerAPI</servlet-name>
        <servlet-class>com.marqet.WebServer.api.GetListMessageBuyerAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetListMessageBuyerAPI</servlet-name>
        <url-pattern>/GetListMessageBuyerAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetListMessageSellerAPI</servlet-name>
        <servlet-class>com.marqet.WebServer.api.GetListMessageSellerAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetListMessageSellerAPI</servlet-name>
        <url-pattern>/GetListMessageSellerAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteMessageAPI</servlet-name>
        <servlet-class>com.marqet.WebServer.api.DeleteMessageAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteMessageAPI</servlet-name>
        <url-pattern>/DeleteMessageAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetListSubMessageHistoryAPI</servlet-name>
        <servlet-class>com.marqet.WebServer.api.GetListSubMessageHistoryAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetListSubMessageHistoryAPI</servlet-name>
        <url-pattern>/GetListSubMessageHistoryAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetListSubMessageNewAPI</servlet-name>
        <servlet-class>com.marqet.WebServer.api.GetListSubMessageNewAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetListSubMessageNewAPI</servlet-name>
        <url-pattern>/GetListSubMessageNewAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PostSubMessageAPI</servlet-name>
        <servlet-class>com.marqet.WebServer.api.PostSubMessageAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PostSubMessageAPI</servlet-name>
        <url-pattern>/PostSubMessageAPI</url-pattern>
    </servlet-mapping>
    <!--**ACTIVITY**-->
    <servlet>
        <servlet-name>GetListActivityAPI</servlet-name>
        <servlet-class>com.marqet.WebServer.api.GetListActivityAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetListActivityAPI</servlet-name>
        <url-pattern>/GetListActivityAPI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteActivityAPI</servlet-name>
        <servlet-class>com.marqet.WebServer.api.DeleteActivityAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteActivityAPI</servlet-name>
        <url-pattern>/DeleteActivityAPI</url-pattern>
    </servlet-mapping>
    <!--**BROADCAST**-->
    <servlet>
        <servlet-name>GCMBroadcast</servlet-name>
        <servlet-class>com.marqet.WebServer.api.GCMBroadcast</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GCMBroadcast</servlet-name>
        <url-pattern>/GCMBroadcast</url-pattern>
    </servlet-mapping>
    <!--**TEST**-->
    <servlet>
        <servlet-name>Test</servlet-name>
        <servlet-class>com.marqet.WebServer.api.Test</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Test</servlet-name>
        <url-pattern>/Test</url-pattern>
    </servlet-mapping>
    <!-- ********************************************************************************************************* -->
    <!--SERVLETS -->
    <!--**Account**-->
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.marqet.WebServer.servlet.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login.marqet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>com.marqet.WebServer.servlet.Register</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/register.marqet</url-pattern>
    </servlet-mapping>
    <!--**Category**-->
    <servlet>
        <servlet-name>GetCategoryServlet</servlet-name>
        <servlet-class>com.marqet.WebServer.servlet.GetCategoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetCategoryServlet</servlet-name>
        <url-pattern>/category.marqet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddCategoryServlet</servlet-name>
        <servlet-class>com.marqet.WebServer.servlet.AddCategoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddCategoryServlet</servlet-name>
        <url-pattern>/addcategory.marqet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteCategoryServlet</servlet-name>
        <servlet-class>com.marqet.WebServer.servlet.DeleteCategoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteCategoryServlet</servlet-name>
        <url-pattern>/deletecategory.marqet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateCategoryServlet</servlet-name>
        <servlet-class>com.marqet.WebServer.servlet.UpdateCategoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateCategoryServlet</servlet-name>
        <url-pattern>/updatecategory.marqet</url-pattern>
    </servlet-mapping>
    <!--**SubCategory**-->
    <servlet>
        <servlet-name>GetSubCategoryServlet</servlet-name>
        <servlet-class>com.marqet.WebServer.servlet.GetSubCategoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetSubCategoryServlet</servlet-name>
        <url-pattern>/subcategory.marqet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddSubCategoryServlet</servlet-name>
        <servlet-class>com.marqet.WebServer.servlet.AddSubCategoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddSubCategoryServlet</servlet-name>
        <url-pattern>/addsubcategory.marqet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteSubCategoryServlet</servlet-name>
        <servlet-class>com.marqet.WebServer.servlet.DeleteSubCategoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteSubCategoryServlet</servlet-name>
        <url-pattern>/deletesubcategory.marqet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateSubCategoryServlet</servlet-name>
        <servlet-class>com.marqet.WebServer.servlet.UpdateSubCategoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateSubCategoryServlet</servlet-name>
        <url-pattern>/updatesubcategory.marqet</url-pattern>
    </servlet-mapping>
    <!--**Country**-->
    <servlet>
        <servlet-name>GetCountryServlet</servlet-name>
        <servlet-class>com.marqet.WebServer.servlet.GetCountryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetCountryServlet</servlet-name>
        <url-pattern>/country.marqet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddCountryServlet</servlet-name>
        <servlet-class>com.marqet.WebServer.servlet.AddCountryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddCountryServlet</servlet-name>
        <url-pattern>/addcountry.marqet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteCountryServlet</servlet-name>
        <servlet-class>com.marqet.WebServer.servlet.DeleteCountryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteCountryServlet</servlet-name>
        <url-pattern>/deletecountry.marqet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateCountryServlet</servlet-name>
        <servlet-class>com.marqet.WebServer.servlet.UpdateCountryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateCountryServlet</servlet-name>
        <url-pattern>/updatecountry.marqet</url-pattern>
    </servlet-mapping>
    <!--**City and State**-->
    <servlet>
        <servlet-name>GetCityAndStateServlet</servlet-name>
        <servlet-class>com.marqet.WebServer.servlet.GetCityAndStateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetCityAndStateServlet</servlet-name>
        <url-pattern>/city-state.marqet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddStateServlet</servlet-name>
        <servlet-class>com.marqet.WebServer.servlet.AddStateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddStateServlet</servlet-name>
        <url-pattern>/addstate.marqet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddCityServlet</servlet-name>
        <servlet-class>com.marqet.WebServer.servlet.AddCityServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddCityServlet</servlet-name>
        <url-pattern>/addcity.marqet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteStateServlet</servlet-name>
        <servlet-class>com.marqet.WebServer.servlet.DeleteStateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteStateServlet</servlet-name>
        <url-pattern>/deletestate.marqet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteCityServlet</servlet-name>
        <servlet-class>com.marqet.WebServer.servlet.DeleteCityServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteCityServlet</servlet-name>
        <url-pattern>/deletecity.marqet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateStateServlet</servlet-name>
        <servlet-class>com.marqet.WebServer.servlet.UpdateStateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateStateServlet</servlet-name>
        <url-pattern>/updatestate.marqet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateCityServlet</servlet-name>
        <servlet-class>com.marqet.WebServer.servlet.UpdateCityServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateCityServlet</servlet-name>
        <url-pattern>/updatecity.marqet</url-pattern>
    </servlet-mapping>
    <!--**Element and Information**-->
    <servlet>
        <servlet-name>GetElementAndInformationServlet</servlet-name>
        <servlet-class>com.marqet.WebServer.servlet.GetElementAndInformationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetElementAndInformationServlet</servlet-name>
        <url-pattern>/element-information.marqet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateInformationServlet</servlet-name>
        <servlet-class>com.marqet.WebServer.servlet.UpdateInformationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateInformationServlet</servlet-name>
        <url-pattern>/updateinformation.marqet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateAvatarServlet</servlet-name>
        <servlet-class>com.marqet.WebServer.servlet.UpdateAvatarServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateAvatarServlet</servlet-name>
        <url-pattern>/updateavatar.marqet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateBigBannerInfoServlet</servlet-name>
        <servlet-class>com.marqet.WebServer.servlet.UpdateBigBannerInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateBigBannerInfoServlet</servlet-name>
        <url-pattern>/updatebigbanner.marqet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateLogoServlet</servlet-name>
        <servlet-class>com.marqet.WebServer.servlet.UpdateLogoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateLogoServlet</servlet-name>
        <url-pattern>/updatelogo.marqet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdatePointInfoServlet</servlet-name>
        <servlet-class>com.marqet.WebServer.servlet.UpdatePointInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdatePointInfoServlet</servlet-name>
        <url-pattern>/updatepoint.marqet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateSmallBannerInfoServlet</servlet-name>
        <servlet-class>com.marqet.WebServer.servlet.UpdateSmallBannerInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateSmallBannerInfoServlet</servlet-name>
        <url-pattern>/updatesmallbanner.marqet</url-pattern>
    </servlet-mapping>
    <!-- ********************************************************************************************************* -->
    <!-- Listener -->
    <listener>
        <listener-class>com.marqet.WebServer.scheduler.ServerStartup</listener-class>
    </listener>

</web-app>